
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Lobster&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: "Poppins", serif;

}
/*----- Navbar------*/
#navbar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.bold{
    font-size: 25px;
}
li{
    padding: 5px;
}
.nav-link{
    font-size: 15px;
    font-weight: bold;
    border:2px solid transparent;
}
.nav-link:hover{
    border-bottom: 2px solid blue;
    transition: 1s;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----home----*/
span{
    color: blue;
    font-weight: 600px;
}
p{
    font-size: 18px;
}
/*----about-----*/
#about img{
 width: 35rem !important;
 height: 35rem !important;
 margin-left: 25px !important;
 margin-top: 10px !important;
}


/*---services----*/
.card-img-top {
    width: 100% !important;
    height: 200px !important;
    object-fit: cover !important;
}
.card{
    width: 300px;
}
.inner{
    overflow: hidden;
}
.card img:hover{
    transform: scale(1.5);
    transition: 1s;
}

/*------contact------*/
h1{
    padding-top: 5% !important;
}
form{
    padding: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}
